[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-redis = "*"

[dev-packages]
pynvim = "*"

[requires]
python_version = "3.10"
